<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>uiframework by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebec75">  <td>18/10/17 14:09:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_LoginToHAT.login_hat()[pri:0, instance:ui.smoke.testcases.housingAnalysisTool.TC1_LoginToHAT@548b7f67]">login_hat</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="ebec75">  <td>18/10/17 14:09:39</td>   <td>434</td> <td title="&lt;&lt;TC1_LoginToHAT.killDriver()[pri:0, instance:ui.smoke.testcases.housingAnalysisTool.TC1_LoginToHAT@548b7f67]">&lt;&lt;killDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
</table>
