<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="808f91">  <td>18/10/29 22:03:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobilityExchange.setUp()[pri:0, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>18/10/29 22:03:49</td>   <td>22244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobilityExchange.GHRM()[pri:1, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">GHRM</td> 
  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>18/10/29 22:10:53</td>   <td>445370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobilityExchange.setUp()[pri:0, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>18/10/29 22:11:08</td>   <td>460542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobilityExchange.ICS()[pri:2, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">ICS</td> 
  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>18/10/29 22:12:48</td>   <td>561137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobilityExchange.setUp()[pri:0, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>18/10/29 22:13:14</td>   <td>586436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobilityExchange.Admin()[pri:3, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">Admin</td> 
  <td>main@2074185499</td>   <td></td> </tr>
<tr bgcolor="808f91">  <td>18/10/29 22:13:36</td>   <td>608595</td> <td title="&lt;&lt;MobilityExchange.kill()[pri:0, instance:ui.smoke.testcases.MobilityExchange.MobilityExchange@a74868d]">&lt;&lt;kill</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2074185499</td>   <td></td> </tr>
</table>
